* {
    margin: 0;
    padding: 0; /*preenchimento interno*/
    box-sizing: border-box;
    /*OBS
    
    com o boder-box é possível manter o width mesmo com acressimo de outras tags tipo padding, que acrescenta preenchimento interno*/
    
  }

body {
    height:100vh;
    display:flex; /*faz os elementos se posicionarem onde queremos*/
    overflow: hidden;
    border: 10px solid var(--bg-color);
    background-color:var(--bg-color) ;
  }

body *{ 
    font-family: 'Quicksand', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
  }


 :root{
  --bg-color:rgb(236, 233, 233);
  --bg-logo:rgb(251 189 192);
  --bg-lighter:rgb(255, 252, 245) ;
  --color-purple:rgba(202, 153, 235);
 }

   


  /* MAIN*/
  main{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px ;
    background-color:var(--bg-logo);
    flex: 1; /* Faça com que o main ocupe 50% */
    padding: 20px; /* Adicione um espaçamento interno opcional */
    
    box-sizing: border-box; /* Inclua a largura da borda no cálculo do tamanho */
    
  }
  
  /*LOGO MAIN*/
  main div img{
    width: 100%;
    max-width: 300px;
    padding: 62px 0;
  }

  /*TEXT MAIN*/
   section h2{
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: rgb(20, 101, 112);
  }

  section h3{
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding: 8.5px 0;
  }

  section p{
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 40px;
  }


  /*FORM MAIN*/

  form h3{
    padding-bottom: 17px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }

  form{
    display:flex ;
    flex-direction: column;
    padding-bottom: 52px;
    width: 100%;
    max-width: 60%;
    z-index: 1;
    position: absolute;
    

  }
  form fieldset{
    display: flex;
    border: #cccccc00;
  }


  form fieldset input{
    background-color:var(--bg-lighter);
    padding: 17px 15px;
    max-width: 100%;
    flex: 1;
    border: #ccc;
    border-radius: 5px;
      
  }



    /* ICONS MAIN*/
    form button{
      position: absolute;
      display: flex;
      right: 0;
      padding: 12.5px;
      background-color:var(--color-purple);
      border: #ccc;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;

      

    }
  


    article h3{
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-top: 120px;

      font-size: 14px;
      font-style: normal;
      font-weight: 700;
    
    }

    article h3 a{
      display:flex ;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.685);
      align-items: center;
      max-width: max-content;
    }


    Article h3 a img{
      display: flex;
      padding: 10px;
      align-items: center;
      

    }

  /* ASIDE */
  aside {
   
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px ;
    display: flex;
  
    max-width: 50%; /* Defina a largura máxima como 50% da página */
    padding: 1px; /* Adicione um espaçamento interno opcional */

    box-sizing: border-box; /* Inclua a largura da borda no cálculo do tamanho */
    overflow: hidden;
  }


  aside {
    max-width: 50%;
    direction: rtl; /* Estabeleça a direção da direita para a esquerda */


  }
  
  /* Estilize a imagem dentro do aside */
  aside img {
     /* Defina a largura da imagem como 100% */
    height: auto; /* Mantenha a proporção da altura */
    object-fit: cover;

  }


  /*MEDIA QUERIES*/

  @media screen and (max-width: 480px) {
    /* Define uma nova imagem para a tag img com a classe .photoPhone */
    img.photoPhone {
        content: url(./assets/photo-2-phone.png);
        height: 100vh;
    }
    main div img{
      
      padding: 10px 0;
    }

    article h3{
      padding-top: 100px;
    }
}


/*HOVER MAIN*/

article h3 a:hover {
  transition: 0.8s;
  color: var(--color-purple);
  text-decoration: underline;

}



